﻿<%@ Page Title="Newport Math Club" Language="C#" MasterPageFile="~/Site.master" %>

<asp:Content ID="Head" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Body" ContentPlaceHolderID="body" runat="Server">
    <h2>
        Under Construction</h2>
    <p>
        This page is under construction. Please check back soon.</p>
</asp:Content>
