﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
</head>
<body>
<!--
<object 
  classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
  width="500" height="500">
  <param name="code" value="MathApplet.class">
</object>-->

<object 
  classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
  width="800" height="800"
  codebase="http://java.sun.com/products/plugin/autodl/
           jinstall-1_5_0-windows-i586.cab#Version=1,5,0,0">
  <param name="code" value="MathApplet.class" />
  <applet code="MathApplet.class"  width="500" height="500" >
  </applet>
</object>

</body>
</html>
