﻿<%@ Page Title="Site Aministration &ndaash; Newport Math Club" Language="C#" MasterPageFile="~/Site.master" %>

<script runat="server">

</script>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="body" runat="Server">
    <h2>
        Site Administration</h2>
    <p>
        This page is for administrators to control the math club site.</p>
    <ul>
        <li><a href="classes_teachers.aspx">Update Classes and Teachers</a></li>
    </ul>
</asp:Content>
