﻿<%@ Page Title="Newport Math Club &ndash; About" Language="C#" MasterPageFile="~/Site.master" %>

<asp:Content ID="Head" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Body" ContentPlaceHolderID="body" runat="Server">
    <h1>
        <b> News and Information </b> </h1>

    <p><b> Check out this page often for important updates! </b></p>

<p> Kappa Kappa 123 </p>
       </asp:Content>
