﻿<%@ Page Language="C#" %>

<!--@ Register assembly="CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Newport Math Club - Advanced Pi Points Chart</title>
    <style type="text/css">
        .style1
        {
            color: #CC0000;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <h1 class="style1">Pi Points Report</h1>
    <p><a href="reports.aspx">&laquo;&nbsp;Back to Reports</a></p>
    <p>This report has been disabled. Please contact an administrator for assistance.</p>
    </div>
    </form>
</body>
</html>
