﻿<%@ Control Language="C#" ClassName="ContentAds" %>
<div id="content-ads">
    <script type="text/javascript"><!--
        google_ad_client = "pub-8846177013257426";
        /* Newport Math Club Bottom Leaderboard */
        google_ad_slot = "0637970847";
        google_ad_width = 728;
        google_ad_height = 90;
			        //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>
