﻿
/* Navigation Style */

.dropdown
{
	/*position:relative;*/
	font-family: Georgia, sans-serif;
	width:1000px;
	height:25px;
	border-top:2px solid #a0522d;
	border-bottom:2px solid #a0522d;
	font-size:14px;
	/*color:#000;*/
	background:#edb;
	/*margin: 0;*/
	/*padding: 0;*/
	
	/*margin-right: auto;*/
	/*margin-left: auto;*/
	/*clear: both;*/
	/*overflow: hidden;*/
	/*margin-bottom: 0;*/

	/*list-style-type: none;*/
	/*display: block;*/
}

/* Basic List Styling (First/Base Level) */

.dropdown ul {padding:0; margin:0; list-style: none;}

.dropdown ul li {float:left; position:relative; background:#edb url('../../images/menu.png') repeat-x; }

.dropdown ul li a, .dropdown ul li p { border-right:1px solid #cb9; padding:5px 10px 4px 10px; margin: 0; display:block; text-decoration:none; color:#a0522d; text-align:center;}

.dropdown ul li:hover {color:#fff; background:#a0522d url('../../styles/images/menu-hover.png') repeat-x;}

.dropdown ul li:hover a, .dropdown ul li:hover p {color:#fff;}

/* Second Level Drop Down Menu */

.dropdown ul li ul {display: none;}

.dropdown ul li:hover ul { font-size:13px; display:block; position:absolute; top:25px; min-width:150px; left:0; margin-left: 0px; margin-top: 1px}

.dropdown ul li:hover ul li { border: 1px #a0522d solid; }

.dropdown ul li:hover ul li a, .dropdown ul li:hover ul li p {display:block; padding:3px 10px 2px 10px; background:#edb; color:#a0522d; width:150px; height:20px; border: none; }

.dropdown ul li:hover ul li a:hover {background:#a0522d url('../../styles/images/menu-item-hover.png') repeat-x; color:#fff;}

/* Third Level Drop Down Menu */

.dropdown ul li:hover ul li ul {display: none;}

.dropdown ul li:hover ul li:hover ul { display:block; position:absolute; left:170px; top:0; margin-top: -1px; }




