﻿@import url("layout.css");
@import url('dropdown.css');

/* Content Styles */
h1,h2,h3,h4,h5,h6 {
	color: #a0522d;
	margin-bottom: 0px;
}
#content img {
	padding: 5px;
	border: 0px #FFFFFF hidden;
	margin-left: 0px;
}
body {
	color: black;
	font-size: 0.8em;
	font-family: "Georgia", "Times New Roman", Times, serif;

	background-attachment: fixed;
	background-position: top left;
	background-image: url("images/background.png");
	background-repeat: repeat-x;
	background-color: #e6d98f;
	/*background-image: url("../images/background.gif");
	background-position: top left;
	background-repeat: repeat-x;*/
}
#container {
	background-color: #fff;
	width: 1000px;
	margin: 0 auto 0 auto; /* top - 22px height of background image (see body) */
	border: 2px solid #a0522d;
	border-top: 0px;
}
#masthead {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: -1px;
	padding-top: 0;
	padding-bottom: 0px;
	padding-left: 0;
}
#navigation { /* not in use -- see nav below */
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
	margin-bottom: 0;
	background-color: #edb;
}
#nav {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	margin-bottom: 0;
	background-color: #f3e9d1;
    height: 31px;
}
#banner {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;
	padding-left: 1px;
}
#page_content {
	/*position: relative;*/ /* relative breaks old drop-down menus */
	background-color: #fff;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0; /* changing this moves sidebar off to the right! */
	padding-right: 0;
	overflow: hidden;
}
#content {
	/*position: relative;*/ /* relative breaks old drop-down menus? */
	background-color: #fff;
	float: left;
	width: 780px;
	padding: 0 5px 5px 15px;
	text-align: left;
	left: 0px;
	top: 0px;
}
#content-ads 
{
    position: absolute;
    left: 15px;
    bottom: 10px;
    float:left;
    width: 780px;
}
#sidebar {
	/*position: relative;*/ /* relative breaks old drop-down menus */
	left: 0;
	top: 0;
	float: right;
	width: 180px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
	text-align: left;
}
#footer {
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 10px;
}
#footermessage {
	clear: both;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Masthead Styles */
#masthead h1 {
	font-weight: bold;
	color: #FF0000;
	text-transform: none;
	float: left;
	margin-top: 5px;
	display: inline;
	font-variant: normal;
	font-family: Miramonte;
}
#masthead h3 {
	font-weight: normal;
	color: #965;
	float: left;
	margin-top: 10px;
	margin-left: 30px;
	display: inline;
	vertical-align: middle;
}
#masthead img {
	border: none;
	margin: 0;
	padding: 0;
}
#masthead a {
	margin: 0;
	padding: 0
}
/* Navigation Styles */
#navigation ul {
	list-style-type: none;
	width: auto;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a 
{
	text-decoration: none;
	color: #a0522d;
	display: block;
	margin: 0 0;
	padding: 3px 7px;
	border: 1px solid #a0522d;
	background-color: #edb;
}
#navigation a:hover {
	text-decoration: none;
	color: #edb;
	background-color: #a0522d;
}
/* Banner Styles */
#banner ul {
	list-style-type: none;
	width: auto;
	margin: 0;
	padding: 0;
}
#banner li {
	float: left;
}
/* Styles */
#sidebar p {
	color: #222;
}
#sidebar img {
	float: left;
	width: 90%;
	border: 0px transparent hidden;
	border: none;
	margin-bottom: 15px;
	margin-left: 5px;
}
/* Footer Styles */
#footer p {
	font-size: 0.85em;
	color: #808080;
}
#footer a {
	/*color: #a0522d;*/
	color: #fff;
	text-decoration: underline;
}
#footer a:hover {
	color: #ddd;
	text-decoration: none;
}
#footer {
	position:relative;
	width: 1004px;
	height: 30px;
	background:url('images/footer.png') no-repeat;
}
#user {
	background:#fff url('images/user.png') no-repeat scroll left center;
	padding-left: 24px;
}

/* Link Styles */
a {
	color: #a0522d;
	text-decoration: underline;
}
a:hover {
	color: #800000;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
.searchbox {
	margin: 1px 3px;
	text-align: right;
}
.footer-left {
	color: #fff;
	display: block;
	float: left;
	margin-left: 15px;
}
.footer-right {
	color: #fff;
	display: block;
	float: right;
	margin-right: 15px;
}